<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    @if (showFiller) {
      <p>Lorem, ipsum dolor sit amet consectetur.</p>
    }
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="sidenav-content">
    <button id="menu-button" type="button" mat-button (click)="drawer.toggle()">
      <i class="material-icons">menu</i>
    </button>
    <img src="assets/ralfitCrop.png" alt="Logo" style="align-self: flex-start;margin: 0 auto;">
  </div>

</mat-drawer-container>
