@import "../../../styles/variables.scss";

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $primary-dark-color;
}
.sidenav-content {
  display: grid;
  height: 100%;
}

.sidenav-row {
    grid-row: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.example-sidenav {
  padding: 20px;
  background-color: $primary-dark-lighter-color;
}

#menu-button {
  padding: 2rem;
  color: azure;
}

#menu-button:hover {
  color: orange;
  animation-name: bg-transition;
  animation-duration: 1s;
}

@keyframes bg-transition {
  0%   {background-color: $primary-dark-color;}
  100%  {background-color: orange;}
}

.material-icons:hover {
  color: orange;
}

.ul {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  list-style: none;
}
.li {
  margin-bottom: 0px;
}
.button {
  background-color: transparent;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 22px;
  font-weight: 700;
  padding: 10px 30px;
  cursor: pointer;
  position: relative;
  padding-left: 11px;
  text-align: center;
  transition: 0.1s;
  z-index: 1;
}

.p {
  z-index: 2;
  position: relative;
}

.button:hover {
  color: rgb(172, 40, 0);
  text-align: center;
}
.button:hover::before {
  transform: rotate(0deg);
  width: 100%;
  height: 40px;
  top: 2px;
  border-radius: 3px;
  background-color: rgb(255, 83, 53);
}
.button::before {
  content: "";
  border-radius: 1px;
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: tomato;
  left: -10px;
  top: 19px;
  cursor: pointer;
  transform: rotate(225deg);
  transition: 0.3s;
  z-index: -1;
}

.button:active::before {
  background-color: rgb(255, 38, 0);
}

.logo {
  align-self: flex-start;
  margin: 2rem auto;
  transition: all .2s ease-in-out;
}

.logo:hover {
  transform: scale(1.2);
}
