<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <ul class="ul">
      @for (menu of menus; track $index) {
        <li class="li">
          <button class="button start" (click)="navigate(menu)"><p class="p">{{menu}}</p></button>
        </li>
      }
      @if (userRole === 'ADMIN') {
        <li class="li">
          <button class="button" (click)="navigate('admin')"><p class="p">Panel de administración</p></button>
        </li>
      }   

      @if (!isLogged) {
        <li class="li login">
          <button class="button" (click)="navigate('login')"><p class="p">Iniciar sesión</p></button>
        </li>
      }   

      @if (isLogged) {
        <li class="li login">
          <button class="button" (click)="logout()"><p class="p">Cerrar sesión</p></button>
        </li>
      }   

    </ul>
  </mat-drawer>

  <div class="sidenav-content">

    <div class="sidenav-row">
      <button id="menu-button" type="button" mat-button (click)="drawer.toggle()">
        <i class="material-icons">menu</i>
      </button>
      
      <ng-content></ng-content>

      <div style="display: flex;align-items: center;justify-content: center; color: white;">

        @if (isLogged) {
          
            <h3 style="margin: 0;" [innerHTML]="unsafeHtml"></h3>
            <span
            style="cursor: pointer;font-size:2.5rem;padding: 1rem"
            class="material-icons"
            (click)="navigate('user')" >
              account_circle
            </span>
        }

      </div>
      
    </div>
    
  </div>

</mat-drawer-container>
