<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <ul class="ul">
      @for (menu of menus; track $index) {
        <li class="li">
          <button class="button" (click)="navigate(menu)"><p class="p">{{menu}}</p></button>
        </li>
      }
    </ul>
  </mat-drawer>

  <div class="sidenav-content">
    <div class="sidenav-row">
      <button id="menu-button" type="button" mat-button (click)="drawer.toggle()">
        <i class="material-icons">menu</i>
      </button>
      <ng-content></ng-content>
      <div style="display: flex;align-items: center;justify-content: center; color: white;">
        <h3 style="margin: 0;" [innerHTML]="unsafeHtml"></h3>
        <span
        style="cursor: pointer;font-size:2.5rem;padding: 1rem;color: white;"
        class="material-icons"
        (click)="navigate('user')" >
          account_circle
        </span></div>
    </div>
  <div>
    <ng-content select="[noFlex]"></ng-content>
  </div>
  </div>



</mat-drawer-container>
