<div class="container">

  <img class="logo" src="assets/ralfitCrop.png" alt="RalFit Logo">

  <div class="content">

    <mat-card class="neon" appearance="outlined">
      <mat-card-content>
        <h1>¡Bienvenidos a Ralfit!</h1>
        <p>En Ralfit, te ofrecemos una experiencia integral para alcanzar tus objetivos fitness. Aquí podrás acceder a:</p>
        <ul>
            <li><strong>Consejos de Gimnasio:</strong> Obtén recomendaciones y técnicas de entrenamiento para maximizar tus resultados.</li>
            <li><strong>Entrenamientos Personalizados:</strong> Diseñamos rutinas a medida según tus metas y necesidades individuales.</li>
            <li><strong>Seguimiento Personalizado:</strong> Monitorea tu progreso con la ayuda de nuestros expertos, quienes te guiarán en cada paso de tu camino fitness.</li>
            <li><strong>Propuestas de Dietas:</strong> Descubre planes alimenticios adaptados a tus objetivos para complementar tu entrenamiento.</li>
            <li><strong>Histórico de Mejora:</strong> Consulta tu evolución a lo largo del tiempo con nuestro detallado registro de avances.</li>
        </ul>
        <p>En Ralfit, estamos comprometidos a ayudarte a lograr el mejor rendimiento y bienestar. ¡Únete hoy y empieza a transformar tu vida!</p>
      </mat-card-content>
    </mat-card>

  </div>
</div>
