<div class="card">
    <div class="card-info">
      <p class="text-title">{{info.title}}</p>
      <p class="text-body" [innerHTML]="unsafeHtml"></p>
    </div>
    <div class="card-footer">
    <p class="text-title">{{info.user}}</p>
    <div class="card-button">
      <span class="material-icons">
        done
        </span>

    </div>
    <div class="card-button edit">

      @if (userRole === 'ADMIN') {
        <span class="material-icons" (click)="selectReview(info.id)">
          edit
          </span>
      }

    </div>

  </div></div>