
<ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                        (init)="slickInit()"
                        (breakpoint)="breakpoint()"
                        (afterChange)="afterChange()"
                        (beforeChange)="beforeChange()">
    @for (review of reviews; track review) {
        <div ngxSlickItem class="slide">
                <review-card [info]="review" width="100%"></review-card>
        </div>
    }
</ngx-slick-carousel>

